/* Topic Page */

head {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
}

span {
    padding-right: 20px;
}

.table-border {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-weight: bold;
}

.img-settings {
    height: auto;
    max-width: 30%;
}


/* CSS Grid Start */


/* Desktop Grid Layout - 

   logo head head head
   b1   b2   b3   b4
   de1  con1 con1 de2
   de1  con2 con2 de2
   de1  con3 con3 de2
   foot foot foot foot*/

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo head head head" "button1 button2 button3 button4" "designL content1 content1 designR" "designL content2 content2 designR" "designL content3 content3 designR" "footer footer footer footer";
}

.grid-item1 {
    grid-area: logo;
}

.grid-item2 {
    grid-area: head;
    margin: auto;
}

.grid-menu-button1 {
    grid-area: button1;
    margin: auto;
}

.grid-menu-button2 {
    grid-area: button2;
    margin: auto;
}

.grid-menu-button3 {
    grid-area: button3;
    margin: auto;
}

.grid-menu-button4 {
    grid-area: button4;
    margin: auto;
}

.grid-item4 {
    grid-area: designL;
}

.grid-item5 {
    grid-area: content1;
    padding-left: 10px;
}

.grid-item6 {
    grid-area: content2;
    width: min-content;
}

.grid-item7 {
    grid-area: content3;
}

.grid-item8 {
    grid-area: designR;
}

.grid-item9 {
    grid-area: footer;
}


/* CSS Grid End */


/* Topic Page End*/