* {
    /* background-color: rgba(0, 0, 0, .65) !important; */
    color: white !important;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../styles/Images/Night_Sky-Star.png");
    background-color: black;
    background-repeat: repeat;
    background-position: center;
}


/* Form Design */

.form-button {
    white-space: nowrap;
    display: inline-block;
}

.fill-in-blank {
    width: 20% !important;
}

.text-area {
    width: 50% !important;
}

.text-area,
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #919191;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1b1b1b;
}

input[type=submit],
input[type=reset] {
    width: 100%;
    background-color: #1b1b1b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: goldenrod;
}


/* Form Design */


/* General Classes Start */

.banner-background {
    background-color: #0e0e0e !important;
}

.center {
    text-align: center;
}

.stay-at-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* General Classes End */


/* Footer Buttons Start */

.owner-button {
    border: 1px solid #ffc403;
    background-color: black !important;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 15px !important;
    clear: right;
    float: right;
    margin-top: 5px;
    padding: 2px 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.git-button {
    border: 1px solid #ffc403;
    background-color: black !important;
    width: fit-content;
    height: 55%;
    text-align: center;
    text-decoration: none;
    font-size: 15px !important;
    clear: left;
    float: left;
    margin-top: 5px;
    padding: 2px 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.footer {
    font-size: small !important;
    margin-top: auto;
    color: white !important;
    height: 2.5em;
}


/* Footer Buttons End */


/* Icons Start */

.youtube-button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 70px;
    background-color: rgb(5, 5, 5, .95);
    border-radius: 30px;
}

.youtube-triangle {
    display: block;
    border-top: 10px solid transparent;
    border-left: 20px solid red;
    border-bottom: 10px solid transparent;
}

.youtube-button:hover {
    background-color: #0e0e0e;
}


/* Icons End */


/* Banner Start */

.banner-settings {
    margin: auto;
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif !important;
    font-size: 1.5em;
    color: #FFFF !important;
    text-shadow: 0 0 8px #FFFFFF;
}

.logo {
    max-width: 12%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Banner End */

.fieldset-border {
    border: 2px solid #1b1b1b;
    border-radius: 15px;
}

.fieldset-settings {
    border: none;
}

.author {
    color: goldenrod !important;
    text-decoration: none;
}

.font-general {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.headings {
    text-align: center;
    padding: 30px;
    font-size: 3em;
}

.paragraph {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.para-heading {
    padding: 25px;
}

span {
    padding-right: 20px;
}

.fig-caption {
    padding-left: 121px;
}

.caption {
    text-align: center;
}


/* Image Gallery Start */

.image {
    display: block;
    width: 85%;
    border: 3px inset black;
    box-shadow: 2px 2px lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #293241;
}

.lava1 {
    background-color: #6D9DC5 !important;
}

.lava2 {
    background-color: #340068 !important;
}

.lava3 {
    background-color: #F5B700 !important;
    transform: rotate(180deg);
}

.lava4 {
    background-color: #28965A !important;
    transform: rotate(180deg);
}


/* Image Gallery End */


/* Table Start */

.table-general {
    width: 100%;
}

.table-fx {
    border-color: white;
    box-shadow: 0 0 8px white;
    text-shadow: 0 0 8px white;
}

.table-border {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
    font-weight: bold;
}

.color-r {
    border-color: lightcoral;
    box-shadow: 0 0 8px lightcoral;
    text-shadow: 0 0 8px lightcoral;
}

.color-g {
    border-color: lightgreen;
    text-shadow: 0 0 8px lightgreen;
    box-shadow: 0 0 8px lightgreen;
}

.color-b {
    border-color: lightblue;
    text-shadow: 0 0 8px lightblue;
    box-shadow: 0 0 8px lightblue;
}


/* Table End */


/* Menu Button Settings Start */

.banner-background {
    background-color: #0e0e0e !important;
}

.button {
    width: max-content;
    height: max-content;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px !important;
}

.button:hover {
    /* width: 96%; */
    background-color: goldenrod !important;
}

.mobile-button {
    clear: right;
    float: right;
    justify-content: center;
    align-content: center;
    display: none;
    padding: 12px 48px !important;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: white !important;
    margin: 6px 0;
}


/* Menu Button Settings End */


/* Grid (Table) */

.grid-table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "Title1 Title2" "Table1 Table2";
    column-gap: 50px;
}

.grid-table-item1 {
    grid-area: Title1;
}

.grid-table-item2 {
    grid-area: Title2;
}

.grid-table-item3 {
    grid-area: Table1;
}

.grid-table-item4 {
    grid-area: Table2;
}


/* Grid */